[submodule "h1_mujoco"]
	path = h1_mujoco
	url = git@github.com:correlllab/h1_mujoco.git
[submodule "mink"]
	path = mink
	url = https://github.com/kevinzakka/mink/
[submodule "magpie_control"]
	path = magpie_control
	url = https://github.com/correlllab/magpie_control
[submodule "magpie_force_control"]
	path = magpie_force_control
	url = https://github.com/correlllab/magpie_force_control.git
[submodule "rerun_rlds_ur5"]
	path = rerun_rlds_ur5
	url = https://github.com/badinkajink/rerun_rlds_ur5
